.measure-input {
  display: flex;
  justify-content: space-around;
}

.measure-input > * {
  display: flex;
  flex-flow: column;
  flex: 0 1 30%;
}

.form-field .measure-input label {
  align-self: center;
  font-size: .75rem;
}
