.measure-input {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.measure-input > div {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}

.form-field .measure-input label {
  align-self: center;
  font-size: .75rem;
}
