.form-field {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 0;
}

.form-field label {
  align-self: flex-start;
  padding-bottom: 0.25rem;
}

/* Meausrement Fields */

.measurement-field.form-field {
  display: flex;
  flex: 0 1 30%;
}
