.calculator-panel {
  width: 98%;
  margin: 2rem auto;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(200, 200, 200, .5);
  padding: 1rem 0.5rem;
}

.measurement-fields {
  border: 1px solid #ccc;
  border-radius: 5px;
}
